@use '../tokens/animation' as *;

@mixin svg-base {
  width: var(--local-icon-size, 100%);
  height: var(--local-icon-size, 100%);
  overflow: visible;
  fill: currentColor;
}

@mixin icon-wrapper-base($size: var(--icon-size)) {
  display: grid;
  place-items: center;
  flex: 0 0 auto;
  width: $size;
  height: $size;

  svg {
    @include svg-base;
    @content;
  }
}

@mixin svg-duotone($fill: black) {
  fill: $fill;
  color: currentColor;
}

@mixin svg-color-transition-base($duration: $motion-duration) {
  transition-property: fill, color;
  transition-duration: $duration;
  transition-timing-function: $motion-easing;
}
