{
  "extends": [
    "plugin:@beefchimi/esnext",
    "plugin:@beefchimi/react",
    "plugin:@beefchimi/typescript",
    "plugin:@beefchimi/prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
