.Nav {
}

.Action {
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  border-radius: var(--radius);
  background-color: transparent;
  transition: background-color var(--motion-duration) var(--motion-easing);
}

.Action:hover {
  background-color: var(--color-surface-bg-invert-down);
}

.Action:active {
  background-color: transprent;
}

.Action:focus {
  background-color: var(--color-surface-bg-invert-down);
}

.Menu {
  display: none;
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 160px;
  background: var(--color-surface-bg-invert);
}

.menuActive {
  display: block;
}

.Item:first-child {
  padding-top: 10px;
}

.Item:last-child {
  padding-bottom: 10px;
}

.Link {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

.NavEmptyState {
  cursor: no-drop;
}
