.Nav {
}

.Action {
  cursor: pointer;
  padding: var(--spacing-tight);
  font-size: var(--font-size-h2);
  border-radius: var(--radius);
  background-color: transparent;
  transition: background-color var(--motion-duration) var(--motion-easing);
}

.Action:hover {
  background-color: var(--color-surface-bg-invert-down);
}

.Action:active {
  background-color: transprent;
}

.Action:focus {
  background-color: var(--color-surface-bg-invert-down);
}

.Menu {
  --nav-menu-width: 160px;

  display: none;
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: var(--nav-menu-width);
  background: var(--color-surface-bg-invert);
}

.menuActive {
  display: block;
}

.Item:first-child {
  padding-top: var(--spacing-tight);
}

.Item:last-child {
  padding-bottom: var(--spacing-tight);
}

.Link {
  display: block;
  padding: var(--spacing-tight) var(--spacing-loose);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

.NavEmptyState {
  cursor: no-drop;
}
