.LocalVsGlobal {
  margin-top: var(--spacing-loosest);
  padding: var(--spacing);
  border: 1px dashed var(--color-surface-bg-invert);
  border-radius: var(--radius-loose);
}

/*
.GlobalInterior {
  background-color: green;
}
*/

.Local p {
  color: var(--color-success);
}
