.Counter {
  padding: var(--spacing-tight);
  text-align: center;
  border: var(--border-common);
  border-radius: var(--radius-loose);
}

.Counter code {
  padding: 2px 4px;
  color: var(--color-brand-down);
  background-color: var(--color-surface-bg-down);
  border-radius: var(--radius-tight);
}

.Title {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}

.ActionWrapper {
  display: flex;
  gap: var(--spacing-tight);
  justify-content: center;
}

/* TODO: Make a button mixin */
.Action {
  cursor: pointer;
  padding: var(--spacing-tight);
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-text);
  background-color: var(--color-brand);
  border-radius: var(--radius);
  transition: background-color var(--motion-duration) var(--motion-easing);
}

.Action:focus,
.Action:hover {
  background-color: var(--color-brand-down);
}

.Action:active {
  background-color: var(--color-brand);
}

.Action[disabled],
.Action[disabled]:focus,
.Action[disabled]:hover,
.Action[disabled]:active {
  pointer-events: none;
  background-color: var(--color-surface-bg-neutral);
  opacity: 0.8;
}

.ActionLabel {
  display: block;
}

.decrement .ActionLabel::before {
  content: '🔥';
  margin-right: var(--spacing-tigher);
}

.increment .ActionLabel::after {
  content: '✨';
  margin-left: var(--spacing-tigher);
}
