@use '../tokens/border' as *;
@use '../tokens/radius' as *;

:root {
  --border-width: #{$border-width};
  --border-width-thick: #{$border-width-thick};

  --border-common: var(--border-width) solid var(--color-surface-bg-invert);

  --radius-tight: #{$radius-tight};
  --radius: #{$radius};
  --radius-loose: #{$radius-loose};
}
