@use '../tokens/breakpoint' as *;

// Unforuntately, CSS does not allow the use of `var(--some-prop)` within
// @media queries... rendering these unusable for their primary purpose.
// While these can still be used for `width/height` values, this really
// highlights the need for SCSS-like variables in your code.
// These variables are often better suited for SCSS-like variables anyways,
// as breakpoint tokens are not really overridden per-theme.

:root {
  --breakpoint-phablet: #{$breakpoint-phablet};
  --breakpoint-tablet: #{$breakpoint-tablet};
  --breakpoint-desktop: #{$breakpoint-desktop};
}
