@use '../tokens/spacing' as *;

:root {
  --spacing-tighest: #{$spacing-tighest};
  --spacing-tigher: #{$spacing-tigher};
  --spacing-tight: #{$spacing-tight};
  --spacing: #{$spacing};
  --spacing-loose: #{$spacing-loose};
  --spacing-looser: #{$spacing-looser};
  --spacing-loosest: #{$spacing-loosest};
}
