@use '../tokens/typography' as *;

:root {
  --font-family-common: #{$font-family-common};
  --font-family-code: #{$font-family-code};

  --font-size-h1: #{$font-size-h1};
  --font-size-h2: #{$font-size-h2};
  --font-size-h3: #{$font-size-h3};

  --font-size-subtitle: #{$font-size-subtitle};
  --font-size-text: #{$font-size-text};
  --font-size-subtext: #{$font-size-subtext};

  --font-weight-normal: #{$font-weight-normal};
  --font-weight-bold: #{$font-weight-bold};
}
