:root {
  /* Colors */
  --color-surface-bg: #efe9f4;
  --color-surface-bg-up: #ffffff;
  --color-surface-bg-down: #d8d4db;

  --color-surface-bg-invert: #171d1c;
  --color-surface-bg-invert-up: #2d3937;
  --color-surface-bg-invert-down: #090b0b;

  --color-text: #ffffff;
  --color-text-invert: #000000;

  --color-text-interactive: #16bac5;
  --color-text-interactive-up: #23d9e7;
  --color-text-interactive-down: #129ba5;

  --color-brand: #5863f8;
  --color-brand-up: #8991fa;
  --color-brand-down: #3b48f7;

  --color-brand-react: #61dafb;

  /* Typography */
  --font-family-common: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  --font-size-base: 16px;

  /* Header */
  --header-height: 64px;

  /* Footer */
  --footer-height: 64px;

  /* Actions */
  --hyperlink-color: var(--color-text-interactive);
}
