.Main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-tight);
  font-size: var(--font-size-text);
  color: var(--color-text-invert);
}

.Children {
  margin-top: var(--spacing-loose);
  padding-top: var(--spacing-loose);
  border-top: var(--border-width) dashed var(--color-surface-bg-invert);
}

/* Typography */

.Beefchimi {
  --beefchimi-size: 100px;

  cursor: zoom-in;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--beefchimi-size);
  height: var(--beefchimi-size);
  border-radius: var(--radius-loose);
  overflow: hidden;
  transition: max-width 1s ease-in-out;
}

.Beefchimi:hover {
  max-width: calc(var(--beefchimi-size) * 4);
}

.Thumbnail {
  transition: transform 1s ease-in-out;
}

.Beefchimi:hover .Thumbnail {
  transform: translateY(-20%);
}

.Main h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
}

.Main p {
  font-size: var(--font-size-h3);
}

.Hyperlink {
  color: var(--hyperlink-color);
  text-decoration: underline;
}

.Hyperlink:hover {
  --hyperlink-color: var(--color-text-interactive-up);
}

.Hyperlink:active {
  --hyperlink-color: var(--color-text-interactive-down);
}

.Hyperlink:focus {
  --hyperlink-color: var(--color-text-interactive-up);
}
