.Main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-text-invert);
}

.Beefchimi {
  width: 100px;
  border-radius: var(--radius-loose);
  overflow: hidden;
}

.Main h1 {
}

.Main p {
}

.Action {
}

.Hyperlink {
  color: var(--hyperlink-color);
}

.Hyperlink:hover {
  --hyperlink-color: var(--color-text-interactive-up);
}

.Hyperlink:active {
  --hyperlink-color: var(--color-text-interactive-down);
}

.Hyperlink:focus {
  text-decoration: underline;
}
