/*
 * These variables are often better suited for SCSS-like variables,
 * as spacing tokens are not really overridden per-theme.
*/
:root {
  --spacing-tighest: 4px;
  --spacing-tigher: 8px;
  --spacing-tight: 12px;
  --spacing: 16px;
  --spacing-loose: 20px;
  --spacing-looser: 24px;
  --spacing-loosest: 28px;
}
