:root {
  /* prettier-ignore */
  --font-family-common:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  /* prettier-ignore */
  --font-family-code:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;

  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;

  --font-size-subtitle: 18px;
  --font-size-text: 16px;
  --font-size-subtext: 14px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
