.Header {
  position: relative;
  grid-area: header;
  display: flex;
  gap: var(--spacing-loose);
  align-items: center;
  padding: var(--spacing-tight);
  height: var(--header-height);
  background-color: var(--color-surface-bg-invert);
}

/*
 * By using `:global` AFTER `.Title`, we allow the classname
 * to be transformed, but preserve the declaration contents.
 * Technically, all we care about preserving is the `animation-name`,
 * so that might be better separated to its own declaration.
*/
.Title :global {
  flex: 1 1 auto;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  animation: global-wiggle-animation infinite 2s linear;
}

.NavWrapper {
  flex: 0 0 auto;
  margin-left: auto;
}
