.Header {
  grid-area: header;
  display: flex;
  gap: 20px;
  align-items: center;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

.Title :global {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: 700;
  color: white;
  animation: global-wiggle-animation infinite 2s linear;
}
