@keyframes local-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Header {
  grid-area: header;
  height: var(--header-height);
  background-color: var(--header-bg-color);
}

.LogoWrapper {
}

.Logo {
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: local-animation infinite 2s linear alternate;
  }
}
