/*
 * Pay special attention to the `:global()` function wrapper
 * around the keyframe name.
*/
@keyframes :global(global-pulse-animation) {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes local-spin-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*
 * These `.Logo` classess will get transformed to match the
 * `Logo.module.css` transformations, since this file is only
 * imported within that sibling module.
*/

.Logo:hover {
  color: var(--color-brand);
  background-color: var(--color-surface-bg-invert-down);
}

.Logo:hover,
.Logo:hover svg {
  animation-play-state: paused;
}

.Logo:active {
  background-color: transparent;
}
